.history {
    margin-bottom: 1.5rem;
}

.history-title {
    font-size: 1.5rem;
    color: #F0FFC2;
    margin-bottom: 1.5rem;
}

.transaction, .transaction-delete {
    display: flex;
    align-items: center;
}

.transaction {
    justify-content: space-between;
    background: var(--card-bg);
    padding: .8rem 1rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.transaction-amount {
    margin-right: .5rem;
}

.delete-image {
    width: 15px;
    height: 15px;
}

.delete-btn {
    background: none;
    border: none;
}

@media (min-width: 768px) {

    .transaction {
        font-size: 1.2rem;
    }
}