* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
  }

body {
    font-family: var(--ff-body);
    background: var(--body-bg);
    color: #fff;
}

.container {
  padding-inline: 1rem;
}