@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
    --ff-body: 'Montserrat', sans-serif;

    --body-bg: #22222b;
    --card-bg: #2b2b31;
    --income-text-clr: #8fff00;
    --expense-text-cr: #ff922f;
}